<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
    <module name="global">
        <param name="numberOfThreads" value="2"/>
        <param name="coordinateSystem" value="EPSG:25832"/>
    </module>
    <module name="controler">
        <param name="firstIteration" value="0"/>
        <param name="lastIteration" value="100"/>
        <param name="outputDirectory" value="./output/"/>
        <param name="writeEventsInterval" value="10"/>
    </module>
    <module name="network">
        <param name="inputNetworkFile" value="network.xml"/>
    </module>
    <module name="plans">
		<param name="inputPlansFile" value="plans.xml" />
	</module>
</config>